In [6]:
lst1 = ['chichi', 'tondi', 'shaki', 'mpho', 'phathu', 'vinny', 'roli', 'ndina', 'shumi', 'mboni']

In [9]:
lst1[2:5]

['shaki', 'mpho', 'phathu']

In [16]:
for name in lst1:
    
    print(name)

chichi
tondi
shaki
mpho
phathu
vinny
roli
ndina
shumi
mboni

In [20]:
colors = [['Red', 'Green', 'Blue'], ["Cyan", 'Magenta', 'Yellow', 'Black']]

In [23]:
print(colors[1][0])
print(colors[1][3])

Cyan
Black

In [24]:
index = 0
while index < len(lst1):
    print(lst1[index])
    index += 1

chichi
tondi
shaki
mpho
phathu
vinny
roli
ndina
shumi
mboni

In [36]:
for i in lst1[-1:]:
    print(i)

mboni

In [42]:
for i in range(len(lst1)):
    print(lst1[i])

chichi
tondi
shaki
mpho
phathu
vinny
roli
ndina
shumi
mboni

In [48]:
numbers = [0] * 5
for index in range(len(numbers)):
    numbers[index] = 99

numbers

[99, 99, 99, 99, 99]

In [51]:
list1 = [1] * 3
list2 = [2] * 3

list1 += list2
list1

[1, 1, 1, 2, 2, 2]

# Slicing

In [55]:
def main():
    prod_num = ['V475', 'Q688', 'F987', 'R143']
    search = input('Enter a product number: ')

    if search in prod_num:
        print(f"{search} was Found!")
    else:
        print(f'{search} was NOT found')


if __name__ == '__main__':
    main()

svf55 was NOT found

In [56]:
lst1.index('shumi')

8

In [58]:
lst1.append('Lizzy')
lst1

['chichi',
 'tondi',
 'shaki',
 'mpho',
 'phathu',
 'vinny',
 'roli',
 'ndina',
 'shumi',
 'mboni',
 'Lizzy',
 'Lizzy']

In [64]:
lst1.remove('shaki')
lst1.remove('Lizzy')

In [65]:
lst1

['chichi',
 'tondi',
 'mpho',
 'phathu',
 'vinny',
 'roli',
 'ndina',
 'shumi',
 'mboni']

In [66]:
lst1.insert(4, 'tondi')
lst1

['chichi',
 'tondi',
 'mpho',
 'phathu',
 'tondi',
 'vinny',
 'roli',
 'ndina',
 'shumi',
 'mboni']

In [68]:
lst1.sort()
lst1

['chichi',
 'mboni',
 'mpho',
 'ndina',
 'phathu',
 'roli',
 'shumi',
 'tondi',
 'tondi',
 'vinny']

In [75]:
nums = [11, 22, 45, 8, 42, 35, 78]
nums.reverse()
nums

[78, 35, 42, 8, 45, 22, 11]

In [76]:
del nums[3]

nums

[78, 35, 42, 45, 22, 11]

# Copying list

In [82]:
classes = ['Lab 101', 'Lab 102', 'Class 1', 'Class 2']
classes2 = [items for items in classes if items[0] == 'C']
classes2

['Class 1', 'Class 2']

In [83]:
len_list = [len(s) for s in classes]
len_list

[7, 7, 7, 7]

In [84]:
[item for item in nums if item < 25]

[22, 11]